.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

p {
  font-size: 500%;
  font-family: "Apple Chancery", cursive;
  font-style: italic;
}

p1 {
  font-size: 300%;
  font-style: italic;
}

h1 {
  font-size: 300%;
}
