<!DOCTYPE html>
<html>
<head>
  <title>Living Well</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
</style>
<body>

<ul>
  <li><a class="active" href="default.html">Home</a></li>
  <li><a href="about.html">About Me</a></li>
  <li><a href="contact.html">Contact</a></li>
</ul>

</head>

<div class="container">
<div class="row">
  <div class="col-md-12">
    <img src="Photos/banner.png">
    <p>Living Well</p><p1>"Love yoursel enough to live a healthy lifestlye"</p1>
  </div>

{{content}}


</body>
</html>
